/* CSS files add styling rules to your content */


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  }



h1 {
  font-style: italic;
  color: #373fff;
}


.a-canvas.a-grab-cursor:hover{
  cursor:url("https://cdn.glitch.com/d6ceb430-fa89-401d-811c-bc27ad01ce99%2FcursorPan.png?") !important
}
/*
.a-canvas.a-grab-cursor:active,.a-grabbing{
  cursor:default !important
}
*/



@media only screen and (max-width: 600px) {
  body {
    background-color: #a0778a;
    color: #FCF6FF;  
  
  }
  
  #logoBox {
    margin: 20px;
  }

  
  #mobileCanvas{
      margin: 2em;
      padding-top:10px;
      padding-left: 15px; 
      padding-right: 15px; 

      height: 100%;
      text-align: center; 
      background-color: #FCF6FF; 
      border-radius: 15px; 
      color: black; 

      font-size: 18px; 
  }
  
  #flowerBackground {
    background: url('https://cdn.glitch.com/d6ceb430-fa89-401d-811c-bc27ad01ce99%2Fflower2.png?1547707106835');
    background-size: 40px 40px;
    padding-bottom: 30px;
  }
}